ffmpy==0.4.0
opencv-python==4.5.5.64
opencv-contrib-python==4.5.5.64
pydub==0.25.1
tensorflow
keras==3.4.1
uvicorn==0.30.4
httpcore==1.0.5
httpx==0.27.0
fastapi==0.111.1
fastapi-cli==0.0.4
faiss-cpu
scikit-learn==1.5.2
scipy
dlib
#问诊
torch
gradio==4.40.0
gradio_client==1.2.0
transformers==4.45.2
torchvision
pydantic==2.7.1
pydantic_core
openai>=1.34.0
sse-starlette>=2.1.0
#闻诊
librosa  
numpy==1.26
#望诊
datasets
pillow
timm
streaming-stt-nemo
edge-tts
asyncio
peft
einops